<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <!-- CSS -->
    <link rel="stylesheet" href="../css/styles.css">

    <!-- Font GOOGLE -->
    <link href="https://fonts.googleapis.com/css?family=Rajdhani" rel="stylesheet">

    <!-- CSS bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- script javaScript-->

</head>    

<body>

    <header>
        <a href="" id="app-title">
            <h1>Jobby admin
            </h1>
        </a>
        <div id="menu-items">
            <a href="">Inscription</a>
            <a href="connexion.html"><span class="fas fa-sign-in-alt"></span> Login</a>
            <a href="">À propos</a>
            <a href="form.html">Contact</a>
        </div>
    </header>

    <main id="img">
        <section id="catch-phrases-box">
            <span class="catch-phrase">Simple</span>
            <span class="catch-phrase">Rapide</span>
            <span class="catch-phrase">Efficace<span />
        </section>
        <section id="slogan-box">
            <a href="./categories.html" id="slogan">
                EDITER LE CONTENU
            </a>
        </section>

    </main>
    <footer>
        <section id="links">
            <a href="index.html">Accueil</a>
            <a href="form.html">Contact</a>
            <a href="">Blog</a>
            <a href="">
                <i class="fab fa-facebook-square"></i>
            </a>
            <a href="">
                <i class="fab fa-twitter-square"></i>
            </a>
        </section>
        <section id="localisation-box">
            <p>Lille</p>
            <p>Paris</p>
            <p>Bordeaux</p>
            <p>Lyon</p>
            <p>Marseille</p>
        </section>
    </footer>



</body>

</html>