<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <!-- CSS -->
    <link rel="stylesheet" href="/css/styles.css">

    <!-- Font GOOGLE -->
    <link href="https://fonts.googleapis.com/css?family=Rajdhani" rel="stylesheet">

    <!-- CSS bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- script javaScript-->
    <script src="/script/menu_grid_area.js"></script>
    <script src="/script/footer_grid_area.js"></script>
    <title>Jobby_about</title>

</head>

<body onload=" displayMenu(); displayFooter()">

    <header id="header_grid_area"
    <a href="/home" id="app-title"></header>

    <main id="main_grid_area">

        <section id="about_jobby">
            <div class="center">
                <p>A propos de jobby</p>
            </div>
        </section>
        <section id="how">
            <div class="center">
                <p>Qui-somme nous</p>
            </div>
        </section>
        <section id="time">
            <div class="center">
                <p>Nos horaires de prestation</p>
            </div>
        </section>
        <section id="get">
            <div class="center">
                <p>Ou nous trouvez</p>
            </div>
        </section>
        <section id="jobby">
            <div class="center">
                <p>Jobby</p>
            </div>
        </section>
        <section id="make">
            <div class="center">
                <p>Ce que nous faisons</p>
            </div>
        </section>


    </main>
    <section  id="chevron" ><a href="#header_grid_area"><i class="fas fa-chevron-up"></i></a></section>
    <footer id="footer_grid_area"></footer>


    <!--Script bootstrap  -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>