<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <!-- CSS -->
    <link rel="stylesheet" href="/css/styles.css">

    <!-- Font GOOGLE -->
    <link href="https://fonts.googleapis.com/css?family=Rajdhani" rel="stylesheet">

    <!-- CSS bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- script javaScript-->
    <script src="/script/menu.js"></script>
    <script src="/script/footer.js"></script>

    <title>Jobby_home</title>

</head>


<body onload=" displayMenu(); displayFooter()">

    <header id="flex_header">
        <a href="/home" id="app-title">
            <h1>Jobby</h1>
        </a>
        <div id="menu-items"></div>
    </header>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium deleniti explicabo corrupti reprehenderit labore excepturi ratione ad iste quasi tempora. Facilis nam sunt dolorem iure odit odio atque animi perspiciatis.
        Debitis ullam eius rerum praesentium harum ex facere suscipit laboriosam tempora? Quisquam officiis omnis quasi quas excepturi quod natus, nesciunt porro eligendi? Dolorum, recusandae vel dolorem harum quae a sunt?
        Ad quo, aliquid animi quam aperiam accusantium provident eius vitae maiores totam aut eum ipsa soluta magnam odit vel rem, ipsum et quos, id pariatur. Atque ipsam ipsum assumenda maxime.
        Adipisci tempore consectetur saepe veniam vitae. Dolorem placeat, doloribus voluptas beatae non nostrum labore iste, voluptate ullam earum velit minima, reiciendis soluta nulla temporibus eum vero dignissimos praesentium explicabo ducimus!
        Nam blanditiis, ipsa cupiditate architecto est asperiores ex harum nulla amet temporibus itaque maiores? Cum tenetur dignissimos fugit, quaerat impedit praesentium doloremque, sunt dolores sit veritatis id itaque, beatae ex?
        Dolorum quam quas perferendis, tempora aliquam sit dolor rerum nesciunt, suscipit velit impedit laborum iste autem ab eligendi! Accusamus corporis hic earum provident laboriosam nulla nostrum atque. Deserunt, velit illo.
        A, non veritatis, voluptatem quo distinctio maiores earum nulla excepturi delectus reprehenderit iure necessitatibus quod. Asperiores illum est enim obcaecati, sapiente officia cupiditate, quia placeat iusto repellendus excepturi nisi. Facere?
        Pariatur sequi, numquam nihil hic maxime illum consequuntur odio delectus voluptatem aspernatur ipsam eos enim optio culpa natus rem in consectetur exercitationem! Earum, vero illo! Voluptate blanditiis modi et quis!
        Nostrum veniam illo asperiores incidunt tempore id architecto natus reiciendis sint vitae ipsam sequi reprehenderit eum est minima impedit ab perferendis odio voluptatum a iure, officiis tenetur sunt animi! Laboriosam.
        Similique, dicta? Consectetur placeat commodi asperiores quam laudantium et doloremque sint modi. Eius excepturi eveniet animi laudantium omnis, voluptate voluptates aut saepe tenetur corrupti. Aliquam obcaecati nam dolorem! Qui, perferendis.
        Laudantium delectus alias voluptates architecto quo rerum reiciendis qui laborum nam eius veritatis excepturi tempore ullam labore, perspiciatis, officiis nostrum accusamus possimus aspernatur similique incidunt illum! Minus ea quod facilis!
        Sequi in nihil consequuntur atque est nulla sed eos deserunt qui officia inventore ipsa provident beatae, sit quaerat, distinctio quod harum et. Iusto voluptate ipsum ipsam nam eligendi corrupti exercitationem?
        Vero, fugiat quo doloribus autem deserunt voluptates commodi consequatur! Ipsam voluptates perspiciatis architecto earum quod sapiente culpa ullam qui ratione ducimus eius cum, consequatur animi, error reiciendis sint. Culpa, nisi!
        Eligendi rem voluptatum sapiente magnam cum dolor reprehenderit, amet blanditiis, itaque ratione esse quam quidem eveniet quasi! Libero laudantium aspernatur, provident rerum sed id natus incidunt ut tempore molestias odio.
        Totam culpa ipsam quis assumenda porro incidunt nam doloremque dignissimos quas quia est corporis sed perspiciatis odit, sint soluta beatae ducimus. A porro eius quibusdam in iste cupiditate saepe! Est.
        Veniam quasi blanditiis voluptatum impedit iure tempore adipisci, dignissimos consectetur voluptatem sunt, modi unde aliquid sed. Numquam rerum itaque ipsum nobis officia. Libero, debitis. Deleniti ipsa delectus similique excepturi enim.
        Saepe porro adipisci, repellendus autem dolor alias voluptate aperiam quas expedita officiis reiciendis repudiandae quasi fugit praesentium est vel pariatur perferendis dolore sequi assumenda. Deleniti obcaecati earum sequi. Voluptatem, incidunt.
        Distinctio blanditiis quibusdam corporis, ut qui perspiciatis delectus totam, perferendis quo nihil excepturi beatae molestias assumenda error consequatur illum deleniti modi natus laboriosam et quam aliquid. Odit sunt ratione ex!
        Cupiditate provident molestiae omnis repellendus aliquam, odit eos magni facere suscipit labore, quod sapiente libero vitae! Voluptate corrupti dicta officia culpa labore architecto adipisci ea, sed quas rerum iure est.
        Architecto veritatis repudiandae quasi libero consectetur dolorem ipsam, illo cumque doloremque necessitatibus, voluptas aspernatur molestiae aut corporis deserunt voluptatum magnam. Culpa consequuntur at delectus sed suscipit amet distinctio ea odit.
        Totam, sit beatae. Sit nesciunt quibusdam et est perferendis quam, natus sapiente, quis quidem beatae adipisci delectus laboriosam expedita iure ex rerum minus ab itaque, repellat veritatis officiis unde libero?
        Non dicta eius cupiditate quae quos quas eligendi corrupti nam quam, illo cumque ullam quia sint vero magnam eveniet quibusdam voluptatem, optio quod illum recusandae! Suscipit, ducimus perferendis! Ad, commodi!
        Tenetur, incidunt molestias? Tempora officia omnis in commodi ratione debitis rerum vel repudiandae. Cupiditate quae incidunt quia amet vitae id ullam ipsa. Vitae sunt quasi beatae voluptates nam delectus mollitia!
        Voluptates voluptatem sint aspernatur esse velit ipsum quaerat ex omnis commodi dignissimos, provident ipsa numquam reprehenderit officiis eum consequuntur odit, debitis obcaecati nesciunt officia fugiat quisquam! Ea voluptates perspiciatis quaerat.
        Adipisci deleniti quaerat saepe corporis quis expedita voluptate debitis nemo ea obcaecati ipsa, pariatur est, modi suscipit quos dicta. Ipsam eum atque amet aut officiis iusto consequatur doloremque ducimus a?
        Incidunt officia quidem sapiente sequi placeat? A sit eveniet at earum excepturi ex nam, culpa eligendi numquam adipisci. Numquam omnis rem illum quasi quidem eius itaque odio nostrum reprehenderit ad.
        Voluptatem, magni harum reiciendis sit non quaerat quia laudantium iste modi officia incidunt, libero, fugit dolorum tempora! Quisquam nostrum consectetur, nesciunt ipsa quibusdam cumque quaerat totam doloribus rerum, excepturi vitae.
        Eum tempore sed earum molestiae expedita neque doloribus illum ratione quisquam harum ullam quibusdam repudiandae sequi eos exercitationem voluptatibus et voluptas, ducimus ex. Quisquam dolores doloremque modi, aperiam perspiciatis quae!
        Est eius adipisci fugiat assumenda voluptatum mollitia voluptas dolores omnis distinctio debitis ab, molestiae, incidunt autem temporibus. Voluptatem modi eligendi quo temporibus fuga quos, fugit repellat odio excepturi autem labore!
        Libero repellendus enim optio ipsam, corporis illum sequi inventore accusantium, voluptates eaque perferendis itaque, voluptatem facilis natus ut quae. Odio aliquam quo incidunt possimus soluta vero tempore facilis quisquam illo.
        Architecto excepturi officiis rerum velit ea quasi cumque atque distinctio hic, nesciunt dolor ut omnis impedit soluta, suscipit nam sapiente quae doloribus tenetur, ipsam expedita? Obcaecati at similique ab minima.
        Dolores architecto obcaecati aut? Odit repellat, molestias sit iste necessitatibus iusto asperiores ad, recusandae nemo ut unde enim impedit itaque natus placeat, hic et dicta quas obcaecati harum. Dolores, qui.
        Molestiae eligendi suscipit autem illo expedita enim consequatur, labore fugiat. Perferendis cupiditate veritatis excepturi iure voluptatibus! Sint, nam error temporibus odit quasi incidunt, quam obcaecati doloremque ad eos illum sit.
        Molestiae, debitis reiciendis ducimus nisi cumque unde, accusantium et soluta temporibus similique consectetur suscipit. Molestiae, magni dolores ut soluta, excepturi corrupti placeat quibusdam, repellendus eum cupiditate facilis delectus necessitatibus eos.
        Ratione voluptatibus, cupiditate, tempora ipsa molestiae aperiam iure accusantium soluta ab labore repudiandae quos sint voluptate provident facilis excepturi minima dolorum ut dolor eligendi iste ad explicabo. Obcaecati, consectetur accusamus!
        Saepe repellat amet nulla. Quas tempora repudiandae expedita at pariatur. Dolores accusamus facere fugiat vero, deleniti nobis autem repellat vel consectetur error ut et doloremque officiis! Suscipit officia itaque quis.
        Aut assumenda in iusto velit deleniti consequuntur delectus debitis numquam, ullam officia quis eaque dicta libero? Odit eligendi delectus maiores natus quae culpa voluptates illum odio esse, ullam in. Ipsam.
        Nulla qui excepturi, optio ullam sapiente non, laboriosam rem id autem libero commodi dolorem incidunt. Porro, ea enim laudantium natus, possimus mollitia suscipit expedita eius ut nisi blanditiis, dolorum iste!
        Voluptatum velit corrupti sint. Dolor cupiditate perferendis illo ratione placeat quibusdam quaerat eos eveniet asperiores sequi praesentium, dolore vero sapiente maxime eligendi voluptate explicabo voluptas fugiat dolorem, maiores autem voluptatem!
        Voluptas ipsam facilis aliquid cumque ab explicabo impedit magnam, inventore beatae corrupti. Provident commodi, veritatis, error sapiente et vitae illum modi sit a mollitia voluptatem quod qui debitis in inventore.
        Deserunt veniam suscipit quis inventore provident obcaecati nemo nihil dolorum dolorem praesentium cumque iusto alias autem odio deleniti et illo atque magnam corrupti, sed porro repellendus adipisci sint perferendis? Vitae!
        Placeat obcaecati et optio voluptatem ipsum autem labore atque explicabo sed porro. Dicta quasi commodi quibusdam nam laboriosam adipisci vitae voluptate rerum. Non maxime minima fuga sint sed in quidem?
        Asperiores inventore, fugit magni id quaerat, rerum eius aut delectus reprehenderit dolorum numquam doloremque sed. Voluptatem, omnis similique ex non, nobis nihil voluptatibus, dolor veniam eaque quibusdam quod minima ducimus.
        Beatae alias, eos itaque tempore eligendi dolor eaque iste dolorum assumenda aspernatur odio nobis harum vero perspiciatis cum tempora molestias voluptates animi? Qui, incidunt illum? Neque accusamus in animi eos.
        Architecto nemo earum minus consequatur aut impedit vel perspiciatis totam beatae molestias distinctio laborum est consequuntur enim, obcaecati, numquam modi expedita itaque praesentium laudantium repellendus assumenda suscipit rem voluptas. Ipsa?
        Dolor natus quasi voluptates consequuntur modi quibusdam ea facilis ipsum unde, optio pariatur earum vero sit tempore sapiente, repudiandae non commodi minima! Saepe expedita voluptate recusandae non. Assumenda, ipsa distinctio?
        Vitae cumque recusandae doloribus sed architecto repellat quod necessitatibus dolore, dolorum aspernatur voluptate, beatae dicta? Facere, distinctio magni temporibus explicabo quidem illum aliquid, dolore voluptatum suscipit itaque non minus iusto!
        Molestias porro laborum voluptates ratione in inventore laboriosam incidunt commodi quo suscipit, quia, possimus ducimus eos debitis nesciunt exercitationem magnam alias quod maxime dolor ut maiores. Excepturi laborum cumque ipsum.
        Cum maiores quia eaque voluptatem necessitatibus laudantium impedit at repellat. Accusantium dolores numquam sit eligendi inventore, error molestias quidem quas illum exercitationem ad aliquam dignissimos vel repellat laborum facere autem.
        Enim architecto laudantium ducimus, facilis voluptatem, ullam molestiae facere, reiciendis tempora perspiciatis deleniti officiis laborum saepe? Perspiciatis nihil dolores esse sapiente ex natus? Expedita pariatur harum reprehenderit ea odio magnam?0</p>
    
    <footer id="footer_flex">
        <section id="links_flex"> </section>
        <section  id="chevron" ><a href="#flex_header"><i class="fas fa-chevron-up"></i></a></section>
        <section id="localisation-box_flex"></section>
    </footer>


    <!--Script bootstrap  -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>